{% extends 'layouts/default.twig' %}
{% set body_class = 'about' %}
{% set head_title = 'About' %}
{% block page %}
			<section class="cover-top">
				<div class="bg-cover" data-aos="fade-in">
					<figure>
						<img class="progressive-image" src="assets/img/photos/tablet/cover_about.jpg" img-mobile="assets/img/photos/mobile/cover_about.jpg" img-tablet="assets/img/photos/tablet/cover_about.jpg" img-full="assets/img/photos/full/cover_about.jpg" alt="">
					</figure>
					<span class="overlay"></span>
				</div>
				<div class="title text-center">
					<h3 data-aos="zoom-in">About Us</h3>
				</div>
			</section>
			<section class="about-info">
				<div class="container">
					<div class="main-content text-content text-center">
						<div class="row no-gutters justify-content-center">
							<div class="col-md-8">
								<p data-aos="fade-up">
									<strong>Roaster</strong> berasal dari kata <i>roast</i> yang mempunyai arti menyangrai. Menyangrai adalah istilah yang digunakan untuk melepaskan kulit dengan biji. Pada umumnya, tanaman yang berupa biji-bijian misalnya kopi diperlukan untuk dilakukan penyangraian. Sedangkan bisa kita simpulkan bahwa <i>roaster</i> merupakan alat yang digunakan untuk menyangrai kopi sehingga biji kopi akan terpisah dari kulitnya.
								</p>
								<h5 data-aos="fade-up">
									<strong>Roaster</strong> berasal dari kata <i>roast</i> yang mempunyai arti menyangrai. Menyangrai adalah istilah yang digunakan untuk melepaskan kulit dengan biji. Pada umumnya, tanaman yang berupa biji-bijian misalnya kopi diperlukan untuk dilakukan penyangraian. Sedangkan bisa kita simpulkan bahwa <i>roaster</i> merupakan alat yang digunakan untuk menyangrai kopi sehingga biji kopi akan terpisah dari kulitnya.
								</h5>
								<h5 data-aos="fade-up">
									Pada zaman sekarang ini, peluang usaha memang banyak tersedia di dalam bidang apapun. Salah satunya adalah jenis peluang usaha atau bisnis yang mengandalkan mesin roasting kopi atau penyangrai kopi. Selain bisa digunakan untuk memperlancar bisnis kopi, alat satu ini juga bisa dimanfaatkan untuk mengembangkan peluang usah dalam Maestro Coffee Roaster.
								</h5>
								<h5 data-aos="fade-up">
									Maestro Coffee Roaster merupakan mesin sangrai yang dirancang khusus untuk memudahkan pekerjaan roaster. Maestro Coffee Roaster berdiri sejak tahun 2017 yang sudah hampir dipercayai oleh puluhan <i>roaster</i>. Maestro Coffee Roaster dikembangkan oleh industri manufaktur berbasis teknologi pangan yang mengacu kepada kebutuhan <i>roaster</i> modern baik dalam ketepatan, keamanan dan kemudahan dalam pengerjaan pada proses sangrai kopi.
								</h5>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="certificates">
				<div class="container">
					<div class="title text-center">
						<h3 data-aos="fade-in">Certificates</h3>
					</div>
					<div class="main-content certificate-content">
						<div class="row no-gutters align-items-center">
							<div class="col-md-6">
								<div class="image-wrapper selector" data-exthumbimage="assets/img/certificate/mobile/certificate_1.jpg" data-src="assets/img/certificate/full/certificate_1.jpg" data-aos="fade-up">
									<figure>
										<img class="progressive-image" src="assets/img/certificate/tablet/certificate_1.jpg" img-mobile="assets/img/certificate/mobile/certificate_1.jpg" img-tablet="assets/img/certificate/tablet/certificate_1.jpg" img-full="assets/img/certificate/full/certificate_1.jpg" alt="">
									</figure>
									<div class="overlay-bg">
										<div class="hover-icon">
											<span class="icon"></span>
										</div>
									</div>
									<div class="overlay-mobile show-mobile">
										<div class="icon">
											<span class="fa fa-search-plus"></span>
										</div>
									</div>
								</div>
								<div class="image-wrapper selector" data-exthumbimage="assets/img/certificate/mobile/certificate_2.jpg" data-src="assets/img/certificate/full/certificate_2.jpg" data-aos="fade-up">
									<figure>
										<img class="progressive-image" src="assets/img/certificate/tablet/certificate_2.jpg" img-mobile="assets/img/certificate/mobile/certificate_2.jpg" img-tablet="assets/img/certificate/tablet/certificate_2.jpg" img-full="assets/img/certificate/full/certificate_2.jpg" alt="">
									</figure>
									<div class="overlay-bg">
										<div class="hover-icon">
											<span class="icon"></span>
										</div>
									</div>
									<div class="overlay-mobile show-mobile">
										<div class="icon">
											<span class="fa fa-search-plus"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="image-wrapper selector" data-exthumbimage="assets/img/certificate/mobile/certificate_3.jpg" data-src="assets/img/certificate/full/certificate_3.jpg" data-aos="fade-up">
									<figure>
										<img class="progressive-image" src="assets/img/certificate/tablet/certificate_3.jpg" img-mobile="assets/img/certificate/mobile/certificate_3.jpg" img-tablet="assets/img/certificate/tablet/certificate_3.jpg" img-full="assets/img/certificate/full/certificate_3.jpg" alt="">
									</figure>
									<div class="overlay-bg">
										<div class="hover-icon">
											<span class="icon"></span>
										</div>
									</div>
									<div class="overlay-mobile show-mobile">
										<div class="icon">
											<span class="fa fa-search-plus"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
