{% extends 'layouts/default.twig' %}
{% set body_class = 'about' %}
{% set head_title = 'About' %}
{% block page %}
			<section class="cover-top">
				<div class="bg-cover" data-aos="fade-in">
					<figure>
						<img class="progressive-image" src="assets/img/photos/tablet/cover_about.jpg" img-mobile="assets/img/photos/mobile/cover_about.jpg" img-tablet="assets/img/photos/tablet/cover_about.jpg" img-full="assets/img/photos/full/cover_about.jpg" alt="">
					</figure>
					<span class="overlay"></span>
				</div>
				<div class="title text-center">
					<h3 data-aos="zoom-in">About Us</h3>
				</div>
			</section>
			<section class="about-info">
				<div class="container">
					<div class="main-content text-content text-center">
						<div class="row no-gutters justify-content-center">
							<div class="col-md-8">
								<h5 data-aos="fade-up">
									Mesin Roasting Kopi atau coffee roaster – Mesin memang tidak bisa lepas dari kehidupan kita sehari – hari. Pada saat ini segala hal yang kita kerjakan menggunakan mesin mulai dari pekerjaan rumah, kantor, olahraga, memasak, dan kegiatan–kegiatan lainnya. Semuanya tidak bisa terlepas dari peran mesin. Selain digunakan dalam berkegiatan sehari – hari, mesin juga dimanfaatkan dalam sebuah bisnis atau sebuah industri khususnya bagi bisnis yang bergerak dalam bidang pembuatan makanan dan minuman.
								</h5>
								<h5 data-aos="fade-up">
									Mungkin kita semua sudah mengetahui bahwa mesin ini semakin tahun semakin berkembang dan mengeluarkan inovasi – inovasi terbaru misalnya saja mesin roaster atau yang dikenal sebagai mesin penyangrai kopi yang biasanya digunakan oleh pabrik atau industri yang bergerak dalam pengolahan kopi untuk menyangrai kopi.
								</h5>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="certificates">
				<div class="container">
					<div class="title text-center">
						<h3 data-aos="fade-in">Certificates</h3>
					</div>
					<div class="main-content certificate-content">
						<div class="row no-gutters align-items-center">
							<div class="col-md-6">
								<div class="image-wrapper selector" data-exthumbimage="assets/img/certificate/mobile/certificate_1.jpg" data-src="assets/img/certificate/full/certificate_1.jpg">
									<figure>
										<img class="progressive-image" src="assets/img/certificate/tablet/certificate_1.jpg" img-mobile="assets/img/certificate/mobile/certificate_1.jpg" img-tablet="assets/img/certificate/tablet/certificate_1.jpg" img-full="assets/img/certificate/full/certificate_1.jpg" alt="">
									</figure>
									<div class="overlay-bg">
										<div class="hover-icon">
											<span class="icon"></span>
										</div>
									</div>
									<div class="overlay-mobile show-mobile">
										<div class="icon">
											<span class="fa fa-search-plus"></span>
										</div>
									</div>
								</div>
								<div class="image-wrapper selector" data-exthumbimage="assets/img/certificate/mobile/certificate_2.jpg" data-src="assets/img/certificate/full/certificate_2.jpg">
									<figure>
										<img class="progressive-image" src="assets/img/certificate/tablet/certificate_2.jpg" img-mobile="assets/img/certificate/mobile/certificate_2.jpg" img-tablet="assets/img/certificate/tablet/certificate_2.jpg" img-full="assets/img/certificate/full/certificate_2.jpg" alt="">
									</figure>
									<div class="overlay-bg">
										<div class="hover-icon">
											<span class="icon"></span>
										</div>
									</div>
									<div class="overlay-mobile show-mobile">
										<div class="icon">
											<span class="fa fa-search-plus"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="image-wrapper selector" data-exthumbimage="assets/img/certificate/mobile/certificate_3.jpg" data-src="assets/img/certificate/full/certificate_3.jpg">
									<figure>
										<img class="progressive-image" src="assets/img/certificate/tablet/certificate_3.jpg" img-mobile="assets/img/certificate/mobile/certificate_3.jpg" img-tablet="assets/img/certificate/tablet/certificate_3.jpg" img-full="assets/img/certificate/full/certificate_3.jpg" alt="">
									</figure>
									<div class="overlay-bg">
										<div class="hover-icon">
											<span class="icon"></span>
										</div>
									</div>
									<div class="overlay-mobile show-mobile">
										<div class="icon">
											<span class="fa fa-search-plus"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
