{% extends 'layouts/default.twig' %}
{% set body_class = 'customer' %}
{% set head_title = 'Customer' %}
{% block page %}
			<section class="cover-top cover-customer">
				<div class="bg-cover" data-aos="fade-in">
					<figure>
						<img class="progressive-image" src="assets/img/photos/tablet/cover_customer.jpg" img-mobile="assets/img/photos/mobile/cover_customer.jpg" img-tablet="assets/img/photos/tablet/cover_customer.jpg" img-full="assets/img/photos/full/cover_customer.jpg" alt="">
					</figure>
					<span class="overlay"></span>
				</div>
				<div class="title text-center">
					<h3 data-aos="zoom-in">Customer</h3>
				</div>
			</section>
			<section class="customer-content">
				<div class="container">
					<div class="main-content thumbnail-customer">
						<div class="customer-area">
							<div class="row no-gutters">
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
								<div class="col-4 col-md-3">
									<div class="partner-wrapper">
										<div class="image-area" data-aos="zoom-in">
											<figure>
												<img src="assets/img/graphics/dummy-customer.jpg" alt="">
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
