{% extends 'layouts/default.twig' %}
{% set body_class = 'gallery' %}
{% set head_title = 'Gallery' %}
{% block page %}
			<section class="cover-top">
				<div class="bg-cover" data-aos="fade-in">
					<figure>
						<img class="progressive-image" src="assets/img/photos/tablet/cover_gallery.jpg" img-mobile="assets/img/photos/mobile/cover_gallery.jpg" img-tablet="assets/img/photos/tablet/cover_gallery.jpg" img-full="assets/img/photos/full/cover_gallery.jpg" alt="">
					</figure>
					<span class="overlay"></span>
				</div>
				<div class="title text-center">
					<h3 data-aos="zoom-in">Gallery</h3>
				</div>
			</section>
			<section class="gallery-content">
				<div class="container">
					<div class="main-content thumbnail-gallery">
						<div class="field-content content-photos">
							<div class="field-title">
								<h5 class="font-primary-bold" data-aos="fade-right">Photos</h5>
							</div>
							<div class="field-area">
								<div class="gallery-view">
									<div class="row no-gutters">
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_1.jpg" data-src="assets/img/photos/full/image_1.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_1.jpg" img-mobile="assets/img/photos/mobile/image_1.jpg" img-tablet="assets/img/photos/tablet/image_1.jpg" img-full="assets/img/photos/full/image_1.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_2.jpg" data-src="assets/img/photos/full/image_2.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_2.jpg" img-mobile="assets/img/photos/mobile/image_2.jpg" img-tablet="assets/img/photos/tablet/image_2.jpg" img-full="assets/img/photos/full/image_2.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_3.jpg" data-src="assets/img/photos/full/image_3.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_3.jpg" img-mobile="assets/img/photos/mobile/image_3.jpg" img-tablet="assets/img/photos/tablet/image_3.jpg" img-full="assets/img/photos/full/image_3.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_4.jpg" data-src="assets/img/photos/full/image_4.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_4.jpg" img-mobile="assets/img/photos/mobile/image_4.jpg" img-tablet="assets/img/photos/tablet/image_4.jpg" img-full="assets/img/photos/full/image_4.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_5.jpg" data-src="assets/img/photos/full/image_5.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_5.jpg" img-mobile="assets/img/photos/mobile/image_5.jpg" img-tablet="assets/img/photos/tablet/image_5.jpg" img-full="assets/img/photos/full/image_5.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_6.jpg" data-src="assets/img/photos/full/image_6.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_6.jpg" img-mobile="assets/img/photos/mobile/image_6.jpg" img-tablet="assets/img/photos/tablet/image_6.jpg" img-full="assets/img/photos/full/image_6.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_7.jpg" data-src="assets/img/photos/full/image_7.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_7.jpg" img-mobile="assets/img/photos/mobile/image_7.jpg" img-tablet="assets/img/photos/tablet/image_7.jpg" img-full="assets/img/photos/full/image_7.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/image_8.jpg" data-src="assets/img/photos/full/image_8.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/image_8.jpg" img-mobile="assets/img/photos/mobile/image_8.jpg" img-tablet="assets/img/photos/tablet/image_8.jpg" img-full="assets/img/photos/full/image_8.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-exthumbimage="assets/img/photos/mobile/cover_product.jpg" data-src="assets/img/photos/full/cover_product.jpg" data-aos="zoom-in">
													<figure>
														<img class="progressive-image" src="assets/img/photos/tablet/cover_product.jpg" img-mobile="assets/img/photos/mobile/cover_product.jpg" img-tablet="assets/img/photos/tablet/cover_product.jpg" img-full="assets/img/photos/full/cover_product.jpg" alt="">
													</figure>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<ul class="pagination justify-content-center">
									<li class="page-item disabled" data-aos="zoom-in">
										<a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-left"></i></a>
									</li>
									<li class="page-item active" data-aos="zoom-in">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item" data-aos="zoom-in">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item" data-aos="zoom-in">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item" data-aos="zoom-in">
										<a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="field-content content-videos">
							<div class="field-title">
								<h5 class="font-primary-bold" data-aos="fade-right">Videos</h5>
							</div>
							<div class="field-area">
								<div class="gallery-view video-view">
									<div class="row no-gutters">
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="zoom-in">
													<figure>
														<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
													</figure>
													<div class="image-play">
														<span class="play-button"></span>
													</div>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="zoom-in">
													<figure>
														<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
													</figure>
													<div class="image-play">
														<span class="play-button"></span>
													</div>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-6 col-md-4">
											<div class="gallery-wrapper">
												<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="zoom-in">
													<figure>
														<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
													</figure>
													<div class="image-play">
														<span class="play-button"></span>
													</div>
													<div class="overlay-bg">
														<div class="hover-icon">
															<span class="icon"></span>
														</div>
													</div>
													<div class="overlay-mobile show-mobile">
														<div class="icon">
															<span class="fa fa-search-plus"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
