{% extends 'layouts/default.twig' %}
{% set body_class = 'index' %}
{% set head_title = 'Index' %}
{% block page %}
			<section class="cover text-center">
				<div class="bg-cover">
					<div class="video-cover">
						<video id="video-cover" autoplay playsinline muted controls loop preload="none">
							<source src="assets/video/video_cover.mp4" type="video/mp4">
							<source src="assets/video/video_cover.ogg" type="video/ogg">
							Your browser does not support the video tag.
						</video>
					</div>
					{# <figure>
						<img class="progressive-image" data-aos="fade-in" src="assets/img/photos/tablet/cover_home.jpg" img-mobile="assets/img/photos/mobile/cover_home.jpg" img-tablet="assets/img/photos/tablet/cover_home.jpg" img-full="assets/img/photos/full/cover_home.jpg" alt="">
					</figure> #}
					<span class="overlay"></span>
				</div>
				<div class="container">
					<div class="cover-area row align-items-center">
						<div class="cover-content">
							<figure>
								<img data-aos="zoom-in" data-aos-delay="600" src="assets/img/logo-yellow.png" alt="Maestro Roaster Logo">
							</figure>
						</div>	
					</div>
				</div>
				<a href="#home-roaster" class="mouse-scroll is-scroll show-desktop" data-aos="fade-up" data-aos-delay="600">
					<i class="icon-mouse"></i>
					<strong class="font-primary-medium">Scroll</strong>
				</a>
				<a href="#home-roaster" class="scroll-down is-scroll show-mobile" data-aos="fade-up" data-aos-delay="400">
					<i class="icon-phone"></i>
				</a>
			</section>
			<section class="home-roaster" id="home-roaster">
				<div class="container">
					<div class="title text-center">
						<h3 data-aos="fade-in">Roaster</h3>
					</div>
					<div class="main-content thumbnail-content">
						<div class="thumbnail-list">
							<div class="row no-gutters align-items-center thumbnail-row">
								<div class="col-md-6 thumbnail-col">
									<figure class="image-area" data-aos="fade-right">
										<img class="progressive-image" src="assets/img/photos/tablet/product_mozart.jpg" img-mobile="assets/img/photos/mobile/product_mozart.jpg" img-tablet="assets/img/photos/tablet/product_mozart.jpg" img-full="assets/img/photos/full/product_mozart.jpg" alt="">
									</figure>
								</div>
								<div class="col-md-6 thumbnail-col">
									<div class="desc-area" data-aos="fade-left">
										<div class="wrapper">
											<div class="tag-info">
												<span>3 kg</span>
											</div>
											<div class="subtitle">
												<h5 class="font-primary-italic">Maestro</h5>
												<h4 class="font-primary-bold">Mozart</h4>
											</div>
											<div class="info-area">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar elementum tellus, a sollicitudin nibh iaculis sagittis.
												</p>
											</div>
											<div class="button-area">
												<a href="product.html" class="button outline font-primary-medium">View Detail</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="thumbnail-list">
							<div class="row no-gutters align-items-center thumbnail-row">
								<div class="col-md-6 thumbnail-col">
									<figure class="image-area" data-aos="fade-right">
										<img class="progressive-image" src="assets/img/photos/tablet/product_beethoven.jpg" img-mobile="assets/img/photos/mobile/product_beethoven.jpg" img-tablet="assets/img/photos/tablet/product_beethoven.jpg" img-full="assets/img/photos/full/product_beethoven.jpg" alt="">
									</figure>
								</div>
								<div class="col-md-6 thumbnail-col">
									<div class="desc-area" data-aos="fade-left">
										<div class="wrapper">
											<div class="tag-info">
												<span>5 kg</span>
											</div>
											<div class="subtitle">
												<h5 class="font-primary-italic">Maestro</h5>
												<h4 class="font-primary-bold">Beethoven</h4>
											</div>
											<div class="info-area">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar elementum tellus, a sollicitudin nibh iaculis sagittis.
												</p>
											</div>
											<div class="button-area">
												<a href="product.html" class="button outline font-primary-medium">View Detail</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="thumbnail-list">
							<div class="row no-gutters align-items-center thumbnail-row">
								<div class="col-md-6 thumbnail-col">
									<figure class="image-area" data-aos="fade-right">
										<img class="progressive-image" src="assets/img/photos/tablet/product_beethoven.jpg" img-mobile="assets/img/photos/mobile/product_beethoven.jpg" img-tablet="assets/img/photos/tablet/product_beethoven.jpg" img-full="assets/img/photos/full/product_beethoven.jpg" alt="">
									</figure>
								</div>
								<div class="col-md-6 thumbnail-col">
									<div class="desc-area" data-aos="fade-left">
										<div class="wrapper">
											<div class="tag-info">
												<span>15 kg</span>
											</div>
											<div class="subtitle">
												<h5 class="font-primary-italic">Maestro</h5>
												<h4 class="font-primary-bold">Beethoven</h4>
											</div>
											<div class="info-area">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar elementum tellus, a sollicitudin nibh iaculis sagittis.
												</p>
											</div>
											<div class="button-area">
												<a href="product.html" class="button outline font-primary-medium">View Detail</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="home-supply">
				<div class="container">
					<div class="title text-center">
						<h3 data-aos="fade-in">Supply</h3>
					</div>
					<div class="main-content slider-mode one">
						<div class="slider-area" data-aos="fade-up">
							<div class="slider-list">
								<figure>
									<img src="assets/img/supply/supply-espressoblend.png" alt="">
								</figure>
							</div>
							<div class="slider-list">
								<figure>
									<img src="assets/img/supply/supply-sukabumi.png" alt="">
								</figure>
							</div>
							<div class="slider-list">
								<figure>
									<img src="assets/img/supply/supply-espressoblend.png" alt="">
								</figure>
							</div>
							<div class="slider-list">
								<figure>
									<img src="assets/img/supply/supply-sukabumi.png" alt="">
								</figure>
							</div>
						</div>
						<div class="slider-nav" data-aos="fade-up">
							<div class="slider-nav-list">
								<div class="desc-info">
									<h5 class="font-primary-bold">
										Espresso Blend
									</h5>
									<h6>
										Espresso Roast
									</h6>
									<div class="button-area">
										<a href="supply.html" class="button outline font-primary-medium">View Detail</a>
									</div>
								</div>
							</div>
							<div class="slider-nav-list">
								<div class="desc-info">
									<h5 class="font-primary-bold">
										Sukabumi
									</h5>
									<h6>
										City Roast
									</h6>
									<div class="button-area">
										<a href="supply.html" class="button outline font-primary-medium">View Detail</a>
									</div>
								</div>
							</div>
							<div class="slider-nav-list">
								<div class="desc-info">
									<h5 class="font-primary-bold">
										Espresso Blend
									</h5>
									<h6>
										Espresso Roast
									</h6>
									<div class="button-area">
										<a href="supply.html" class="button outline font-primary-medium">View Detail</a>
									</div>
								</div>
							</div>
							<div class="slider-nav-list">
								<div class="desc-info">
									<h5 class="font-primary-bold">
										Sukabumi
									</h5>
									<h6>
										City Roast
									</h6>
									<div class="button-area">
										<a href="supply.html" class="button outline font-primary-medium">View Detail</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="home-download">
				<div class="container">
					<div class="download-software">
						<div class="box-wrapper" data-aos="fade-up">
							<div class="row no-gutters align-items-center">
								<div class="col-md-8 col-lg-7">
									<div class="text-area">
										<h5 class="font-primary-medium">
											Download The Latest Update Coffee Roasting Software
										</h5>
									</div>
								</div>
								<div class="col-md-4 col-lg-5">
									<div class="button-area">
										<a href="#" class="button outline font-primary-medium">Download</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="home-customer">
				<div class="container">
					<div class="main-content slider-mode two">
						<div class="field-content">
							<div class="field-title">
								<h5 class="font-primary-bold" data-aos="fade-right">Customers</h5>
							</div>
							<div class="field-area">
								<div class="slider-area" data-aos="fade-up">
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
									<div class="slider-list">
										<figure>
											<img src="assets/img/graphics/dummy-customer.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
