{% extends 'layouts/default.twig' %}
{% set body_class = 'knowledge' %}
{% set head_title = 'Knowledge' %}
{% block page %}
			<section class="cover-top">
				<div class="bg-cover" data-aos="fade-in">
					<figure>
						<img class="progressive-image" src="assets/img/photos/tablet/cover_knowledge.jpg" img-mobile="assets/img/photos/mobile/cover_knowledge.jpg" img-tablet="assets/img/photos/tablet/cover_knowledge.jpg" img-full="assets/img/photos/full/cover_knowledge.jpg" alt="">
					</figure>
					<span class="overlay"></span>
				</div>
				<div class="title text-center">
					<h3 data-aos="zoom-in">Knowledge</h3>
				</div>
			</section>
			<section class="knowledge-content">
				<div class="container">
					<div class="main-content thumbnail-gallery">
						<div class="knowledge-view">
							<div class="row no-gutters">
								<div class="col-md-6">
									<div class="gallery-wrapper">
										<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="fade-up">
											<figure>
												<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
											</figure>
											<div class="image-play">
												<span class="play-button"></span>
											</div>
											<div class="overlay-bg">
												<div class="hover-icon">
													<span class="icon"></span>
												</div>
											</div>
											<div class="overlay-mobile show-mobile">
												<div class="icon">
													<span class="fa fa-search-plus"></span>
												</div>
											</div>
										</div>
										<div class="desc-gallery">
											<h5 class="font-alt-medium" data-aos="fade-up">
												How to ipsum dolor sit amet, consectetur adipiscing elit
											</h5>
											<p data-aos="fade-up">
												Donec dui quam, consectetur suscipit leo quis, vulputate vestibulum arcu.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="gallery-wrapper">
										<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="fade-up">
											<figure>
												<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
											</figure>
											<div class="image-play">
												<span class="play-button"></span>
											</div>
											<div class="overlay-bg">
												<div class="hover-icon">
													<span class="icon"></span>
												</div>
											</div>
											<div class="overlay-mobile show-mobile">
												<div class="icon">
													<span class="fa fa-search-plus"></span>
												</div>
											</div>
										</div>
										<div class="desc-gallery">
											<h5 class="font-alt-medium" data-aos="fade-up">
												How to ipsum dolor sit amet, consectetur adipiscing elit
											</h5>
											<p data-aos="fade-up">
												Donec dui quam, consectetur suscipit leo quis, vulputate vestibulum arcu.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="gallery-wrapper">
										<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="fade-up">
											<figure>
												<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
											</figure>
											<div class="image-play">
												<span class="play-button"></span>
											</div>
											<div class="overlay-bg">
												<div class="hover-icon">
													<span class="icon"></span>
												</div>
											</div>
											<div class="overlay-mobile show-mobile">
												<div class="icon">
													<span class="fa fa-search-plus"></span>
												</div>
											</div>
										</div>
										<div class="desc-gallery">
											<h5 class="font-alt-medium" data-aos="fade-up">
												How to ipsum dolor sit amet, consectetur adipiscing elit
											</h5>
											<p data-aos="fade-up">
												Donec dui quam, consectetur suscipit leo quis, vulputate vestibulum arcu.
											</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="gallery-wrapper">
										<div class="image-area selector" data-src="https://www.youtube.com/watch?v=WusMGliLWBc" data-poster="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" data-aos="fade-up">
											<figure>
												<img src="http://img.youtube.com/vi/WusMGliLWBc/0.jpg" alt="">
											</figure>
											<div class="image-play">
												<span class="play-button"></span>
											</div>
											<div class="overlay-bg">
												<div class="hover-icon">
													<span class="icon"></span>
												</div>
											</div>
											<div class="overlay-mobile show-mobile">
												<div class="icon">
													<span class="fa fa-search-plus"></span>
												</div>
											</div>
										</div>
										<div class="desc-gallery">
											<h5 class="font-alt-medium" data-aos="fade-up">
												How to ipsum dolor sit amet, consectetur adipiscing elit
											</h5>
											<p data-aos="fade-up">
												Donec dui quam, consectetur suscipit leo quis, vulputate vestibulum arcu.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="faq-content">
				<div class="container">
					<div class="title text-center">
						<h3 data-aos="fade-in">FAQ</h3>
					</div>
					<div class="main-content faq-area">
						<div class="accordion" id="faq-accordion">
							<div class="card" data-aos="fade-up">
								<div class="card-header" id="heading-faq-one" data-toggle="collapse" data-target="#faq-one" aria-expanded="false" aria-controls="faq-one">
									<h4>
										Mauris a nisl quis ligula suscipit viverra vel aliquam mauris?
									</h4>
									<span class="icon-accordion fa fa-plus"></span>
								</div>
								<div id="faq-one" class="collapse" aria-labelledby="heading-faq-one" data-parent="#faq-accordion">
									<div class="card-body">
										<p>
											Ut vitae tortor ut nulla pharetra egestas sed sed diam. Pellentesque vitae enim hendrerit, fermentum orci in, malesuada dolor. Maecenas sit amet molestie ligula, eu bibendum ex.
										</p>
										<p>
											Ut vitae tortor ut nulla pharetra egestas sed sed diam. Pellentesque vitae enim hendrerit, fermentum orci in, malesuada dolor. Maecenas sit amet molestie ligula, eu bibendum ex.
										</p>
										<ul>
											<li>
												Ut mattis viverra dignissim.
											</li>
											<li>
												Etiam blandit et elit sit amet elementum.
											</li>
											<li>
												Aliquam malesuada lacus leo, a maximus turpis tempor at.
											</li>
										</ul>
										<ol>
											<li>
												Ut mattis viverra dignissim.
											</li>
											<li>
												Etiam blandit et elit sit amet elementum.
											</li>
											<li>
												Aliquam malesuada lacus leo, a maximus turpis tempor at.
											</li>
										</ol>
									</div>
								</div>
							</div>
							<div class="card" data-aos="fade-up">
								<div class="card-header" id="heading-faq-two" data-toggle="collapse" data-target="#faq-two" aria-expanded="false" aria-controls="faq-two">
									<h4>
										Donec a nulla finibus, rutrum magna sit amet, fermentum lectus?
									</h4>
									<span class="icon-accordion fa fa-plus"></span>
								</div>
								<div id="faq-two" class="collapse" aria-labelledby="heading-faq-two" data-parent="#faq-accordion">
									<div class="card-body">
										<p>
											Ut vitae tortor ut nulla pharetra egestas sed sed diam. Pellentesque vitae enim hendrerit, fermentum orci in, malesuada dolor. Maecenas sit amet molestie ligula, eu bibendum ex.
										</p>
										<ul>
											<li>
												<p>
													Ut mattis viverra dignissim.
												</p>
											</li>
											<li>
												<p>
													Etiam blandit et elit sit amet elementum.
												</p>
											</li>
											<li>
												<p>
													Aliquam malesuada lacus leo, a maximus turpis tempor at.
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card" data-aos="fade-up">
								<div class="card-header" id="heading-faq-three" data-toggle="collapse" data-target="#faq-three" aria-expanded="false" aria-controls="faq-three">
									<h4>
										Sed finibus ultricies odio, sit amet sodales nibh accumsan ac?
									</h4>
									<span class="icon-accordion fa fa-plus"></span>
								</div>
								<div id="faq-three" class="collapse" aria-labelledby="heading-faq-three" data-parent="#faq-accordion">
									<div class="card-body">
										<p>
											Ut vitae tortor ut nulla pharetra egestas sed sed diam. Pellentesque vitae enim hendrerit, fermentum orci in, malesuada dolor. Maecenas sit amet molestie ligula, eu bibendum ex.
										</p>
										<ul>
											<li>
												<p>
													Ut mattis viverra dignissim.
												</p>
											</li>
											<li>
												<p>
													Etiam blandit et elit sit amet elementum.
												</p>
											</li>
											<li>
												<p>
													Aliquam malesuada lacus leo, a maximus turpis tempor at.
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="download-content">
				<div class="container">
					<div class="download-software">
						<div class="box-wrapper" data-aos="fade-up">
							<div class="row no-gutters align-items-center">
								<div class="col-md-8 col-lg-7">
									<div class="text-area">
										<h5 class="font-primary-medium">
											Download The Latest Update Coffee Roasting Software
										</h5>
									</div>
								</div>
								<div class="col-md-4 col-lg-5">
									<div class="button-area">
										<a href="#" class="button outline font-primary-medium">Download</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
