{% extends 'layouts/default.twig' %}
{% set body_class = 'supply' %}
{% set head_title = 'Supply' %}
{% block page %}
			<section class="cover-top cover-supply">
				<div class="bg-cover" data-aos="fade-in">
					<figure>
						<img class="progressive-image" src="assets/img/photos/tablet/cover_supply.jpg" img-mobile="assets/img/photos/mobile/cover_supply.jpg" img-tablet="assets/img/photos/tablet/cover_supply.jpg" img-full="assets/img/photos/full/cover_supply.jpg" alt="">
					</figure>
					<span class="overlay"></span>
				</div>
				<div class="title text-center">
					<h3 data-aos="zoom-in">Supply</h3>
				</div>
			</section>
			<section class="supply-content">
				<div class="container">
					<div class="main-content thumbnail-content">
						<div class="field-content">
							<div class="field-title">
								<h5 class="font-primary-bold" data-aos="fade-right">House Blend</h5>
							</div>
							<div class="field-area">
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-espressoblend.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Espresso Blend</h4>
													<h5 class="font-primary-italic">Espresso Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Mix</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec balance"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Beans</label>
																	<p class="font-alt-medium">
																		30% Arabica<br>
																		70% Robusta
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-espressoblend.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Espresso Blend</h4>
													<h5 class="font-primary-italic">Espresso Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Mix</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec balance"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Beans</label>
																	<p class="font-alt-medium">
																		50% Arabica<br>
																		50% Robusta
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-espressoblend.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Espresso Blend</h4>
													<h5 class="font-primary-italic">Espresso Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Mix</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec balance"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Beans</label>
																	<p class="font-alt-medium">
																		70% Arabica<br>
																		30% Robusta
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-espressoblend.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Espresso Blend</h4>
													<h5 class="font-primary-italic">Espresso Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Mix</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec balance"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Beans</label>
																	<p class="font-alt-medium">
																		100% Arabica<br>
																		0% Robusta
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="field-content">
							<div class="field-title">
								<h5 class="font-primary-bold" data-aos="fade-right">Single Origin</h5>
							</div>
							<div class="field-area">
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-sukabumi.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Sukabumi</h4>
													<h5 class="font-primary-italic">City Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Full Wash</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec region"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Region</label>
																	<p class="font-alt-medium">
																		Tanjung
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-sukabumi.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Aceh</h4>
													<h5 class="font-primary-italic">City Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Semi Wash</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec region"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Region</label>
																	<p class="font-alt-medium">
																		Gayo
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-sukabumi.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Toraja</h4>
													<h5 class="font-primary-italic">City Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Full Wash</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec region"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Region</label>
																	<p class="font-alt-medium">
																		Benteng
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="thumbnail-list">
									<div class="row no-gutters align-items-center thumbnail-row">
										<div class="col-md-6 thumbnail-col">
											<div class="wrapper">
												<figure class="image-area" data-aos="fade-right">
													<img src="assets/img/supply/supply-sukabumi.png" alt="">
													<span class="circle-bg" data-aos="zoom-in" data-aos-delay="600"></span>
												</figure>
											</div>
										</div>
										<div class="col-md-6 thumbnail-col">
											<div class="desc-area" data-aos="fade-left">
												<div class="subtitle">
													<h4 class="font-primary-bold">Temanggung</h4>
													<h5 class="font-primary-italic">Full City Roast</h5>
												</div>
												<div class="specification">
													<div class="row no-gutters align-items-center">
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec process"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Process</label>
																	<p class="font-alt-medium">Natural</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec weight"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Weight</label>
																	<p class="font-alt-medium">200 g &amp; 1 kg</p>
																</div>
															</div>
														</div>
														<div class="col-6">
															<div class="wrapper-spec">
																<span class="icon-spec region"></span>
																<div class="info-spec">
																	<label class="font-alt-medium">Region</label>
																	<p class="font-alt-medium">
																		Temanggung
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="button-area">
													<a href="#" class="button outline font-primary-medium">Buy Now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{% endblock %}
