.contact-content {
	.container{
		@include breakpoint(desktop) {
			max-width: 1200px;
		}
	}

	.wrapper-contact {
		@include breakpoint(tablet) {
			padding-left: 30px;
		}

		@include breakpoint(wide) {
			padding-left: 50px;
		}
	}

	.found-us {
		+ .call-us {
			margin-top: 30px;
		}
	}
	
	.call-us {
		+ .button-area {
			margin-top: 30px;
			
			@include breakpoint(tablet) {
				margin-top: 50px;
			}
		}
	}

	.field-title {
		+ .address,
		+ .phone-contact {
			margin-top: 20px;
		}
	}

	.map-area {
		[class*="col-"] {
			+ [class*="col-"] {
				margin-top: 30px;
				
				@include breakpoint(tablet) {
					margin-top: 0;
				}
			}
		}

		figure {
			padding-right: 18%;
		
			@include breakpoint(tablet) {
				padding-right: 0;
			}
		}
	}

	.address {
		+ .address {
			margin-top: 16px;
		}

		h6 {
			line-height: 100%;
			font-size: 1em;
			letter-spacing: 1pt;
			
			@include breakpoint(tablet) {
				font-size: 1.1em;
			}

			+ address {
				margin-top: 8px;
			}
		}

		address {
			font-size: 1.2em;
			line-height: 130%;
			color: $white;
			margin: 0;
			
			@include breakpoint(tablet) {
				font-size: 1.3em;
			}
		}
	}

	.phone-contact {
		padding: 0;
		list-style: none;

		li {
			+ li {
				margin-top: 6px;
			}
		}

		a {
			display: inline-block;
			font-size: 1.2em;
			line-height: 120%;

			@include breakpoint(tablet) {
				font-size: 1.3em;
			}
		}
	}

	.form {
		.form-group {
			// padding: 8px 0;
			
			// @include breakpoint(tablet) {
			// 	padding: 10px;
			// }

			// + .form-group {
			// 	margin: 0;
			// }

			// &.button-area {
			// 	margin-top: 20px;
			// }
		}
	}
}