.contact-content {
	.container{
		@include breakpoint(desktop) {
			max-width: 1200px;
		}
	}

	.wrapper-contact {
		@include breakpoint(tablet) {
			padding-left: 30px;
		}

		@include breakpoint(wide) {
			padding-left: 50px;
		}
	}

	.found-us {
		+ .call-us {
			margin-top: 30px;
		}
	}
	
	.call-us {
		+ .button-area {
			margin-top: 30px;
			
			@include breakpoint(tablet) {
				margin-top: 50px;
			}
		}
	}

	.field-title {
		+ .address,
		+ .phone-contact {
			margin-top: 20px;
		}
	}

	.map-area {
		[class*="col-"] {
			+ [class*="col-"] {
				margin-top: 30px;
				
				@include breakpoint(tablet) {
					margin-top: 0;
				}
			}
		}

		figure {
			padding-right: 18%;
		
			@include breakpoint(tablet) {
				padding-right: 0;
			}
		}
	}

	.address {
		+ .address {
			margin-top: 16px;
		}

		h6 {
			line-height: 100%;
			font-size: 1em;
			letter-spacing: 1pt;
			
			@include breakpoint(tablet) {
				font-size: 1.1em;
			}

			+ address {
				margin-top: 8px;
			}
		}

		address {
			font-size: 1.2em;
			line-height: 130%;
			color: $white;
			margin: 0;
			
			@include breakpoint(tablet) {
				font-size: 1.3em;
			}
		}
	}

	.phone-contact {
		padding: 0;
		list-style: none;

		li {
			+ li {
				margin-top: 6px;
			}
		}

		a {
			display: inline-block;
			font-size: 1.2em;
			line-height: 120%;

			@include breakpoint(tablet) {
				font-size: 1.3em;
			}
		}
	}
}

.sales-area {
	.field-title {
		+ .field-area {
			@include breakpoint(wide) {
				margin-top: 30px
			}
		}
	}
}

.sales-view {
	.sales-wrapper {
		position: relative;
		padding: 12px 8px;

		@include breakpoint(tablet) {
			padding: 20px;
		}
	}

	.image-area {
		position: relative;
		height: 0;
		padding: 0 0 100%;

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		+ .desc-area {
			margin-top: 10px;

			@include breakpoint(tablet) {
				margin-top: 16px;
			}
		}
	}

	.desc-area {
		text-align: center;

		h5 {
			color: $white;
			font-size: 1.2em;
			line-height: 110%;
			
			@include breakpoint(tablet) {
				font-size: 1.3em;
			}
			
			@include breakpoint(wide) {
				font-size: 1.6em;
			}
		}

		+ .social-media {
			margin-top: 10px;

			@include breakpoint(tablet) {
				margin-top: 16px;
			}
		}
	}

	.social-media {
		padding: 0;
		text-align: center;

		li {
			margin: 0;

			+ li {
				margin-left: 4px;
			}
		}

		a {
			text-align: center;
			font-size: 1.5em;
			display: block;
			width: 38px;
			height: 38px;
			line-height: 38px;
			background-color: $dark-grey;
			border-radius: 100%;
			color: $grey;

			&:hover {
				background-color: $yellow;
				color: $dark-black;
			}
		}
	}
}