		<!-- SCROLL TOP -->
		<a href="#main" class="scroll-to-top is-scroll hiding">
			<span class="fa fa-long-arrow-up"></span>
		</a>
		<!-- SCROLL TOP -->
		<footer id="footer">
			<div class="nav-top">
				<div class="container">
					<div class="footer-wrapper">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-6">
										<div class="footer-logo">
											<a href="index.html">
												<figure>
													<img src="assets/img/logo-pt.png" data-aos="zoom-in" alt="PT. Maestro Globalindo Presisi">
												</figure>
											</a>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="address" data-aos="zoom-in">
											<i class="fas fa-map-marker-alt"></i>
											<h6 class="font-primary-medium">Warehouse</h6>
											<address>
												Jl. Pulo Sirih Barat Raya Ruko Grand Galaxy City RGO No 18, Bekasi City, West Java 17147
											</address>
										</div>
										<div class="address" data-aos="zoom-in">
											<i class="fas fa-map-marker-alt"></i>
											<h6 class="font-primary-medium">Office</h6>
											<address>
												Jl. Pulo Sirih Barat Raya Ruko Grand Galaxy City RGO No 18, Bekasi City, West Java 17147
											</address>
										</div>
										<div class="phone show-mobile">
											<ul>
												<li data-aos="zoom-in">
													<a href="tel:+6282126011209" class="font-primary-medium">
														<i class="fas fa-phone-alt"></i>
														<span>+62 821 2601 1209</span>
													</a>
												</li>
												<li data-aos="zoom-in">
													<a href="mailto:maestroroaster@gmail.com.com" class="font-primary-medium">
														<i class="fas fa-envelope"></i>
														<span>maestroroaster@gmail.com</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-lg-5">
										<div class="sitemap">
											<ul>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="about.html">About Us</a>
												</li>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="product.html">Product</a>
												</li>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="supply.html">Supply</a>
												</li>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="gallery.html">Gallery</a>
												</li>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="sustomer.html">Customer</a>
												</li>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="knowledge.html">Knowledge</a>
												</li>
												<li data-aos="zoom-in">
													<a class="font-primary-medium" href="contact.html">Contact</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-7 phone-email">
										<div class="phone show-desktop">
											<ul>
												<li data-aos="zoom-in">
													<a href="tel:+6282126011209" class="font-primary-medium">
														<i class="fas fa-phone-alt"></i>
														<span>+62 821 2601 1209</span>
													</a>
												</li>
												<li data-aos="zoom-in">
													<a href="mailto:maestroroaster@gmail.com.com" class="font-primary-medium">
														<i class="fas fa-envelope"></i>
														<span>maestroroaster@gmail.com</span>
													</a>
												</li>
											</ul>
										</div>
										<div class="social-media">
											<h6 class="font-primary-medium" data-aos="zoom-in">Social Media</h6>
											<ul class="social flat">
												<li class="facebook" data-aos="zoom-in">
													<a href="#" target="_blank">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li class="youtube" data-aos="zoom-in">
													<a href="#" target="_blank">
														<i class="fab fa-youtube"></i>
													</a>
												</li>
												<li class="instagram" data-aos="zoom-in">
													<a href="#" target="_blank">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container text-center">
					<p class="text-footer">Copyright © 2021 Maestro Roaster. All rights reserved.</p>
				</div>
			</div>
		</footer>